<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A simple web app to extract text found in the image.">
    <meta name="author" content="Edgar Pino">
    <title>Texto - A simple web app to extract text found in images.</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
  	
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/logo.svg" alt="texto logo" /></span>
						<h1>Texto</h1>
						<p>A simple web app to extract text found in images.</p>
					</header>
				<!-- Main -->
					<div id="main">
						<!-- First Section -->
            <%= render @view_module, @view_template, assigns %>
					</div>
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">Created By Edgar Pino</p>
					</footer>
			</div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
