.alert-info {
  white-space: pre-wrap;
}

.holder {
  margin: auto;
}

.holder h2 {
  margin-bottom: 45px;
}
/**
* Image Holder
**/
.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper textarea {
  padding: 10px;
  font-size: 16px;
}

.image-holder {
  border: 10px dashed #ccc; 
  min-height: 300px; 
  width: 47%;
}

.wrapper .text {
  width: 47%;
}

.image-holder.hover {
  transition: ease-in-out;
  border-color:rgb(135, 213, 144); 
}

.image-holder form {
  display: none;
}

.image-holder img { 
  display: block;
  max-width: 100%;
  padding: 15px;
}
